---
---

@import "{{ site.theme }}";

a:link, a:visited {
  padding: 0px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a:hover {
  background-color: dodgerblue;
  color: white;
}

a:active {
  background-color: royalblue;
}


h1 {
  color: darkgrey;
}

h2 {
  color: dodgerblue;
}

h3 {
  color: black;
}

h4 {
  color: black;
}

p {
  color: black;
}

